[Desktop Entry]
Type=Application
Name=Window Shuffler GUI
Exec=python3 /usr/lib/budgie-desktop/arm/main.py
NoDisplay=true
AutostartCondition=GSettings org.ubuntubudgie.armconfig runarmconfig
X-GNOME-AutoRestart=true
