[Desktop Entry]
Type=Application
Name=Budgie ARM and Pi
Comment=Application to manage Budgie on ARM and Pi
Exec=python3 /usr/lib/budgie-desktop/arm/main.py
NoDisplay=true
AutostartCondition=GSettings org.ubuntubudgie.armconfig runarmconfig
X-GNOME-AutoRestart=true
