[Desktop Entry]
Type=Application
Name=Budgie ARM and Pi Configuration
Exec=python3 /usr/lib/budgie-desktop/arm/main.py
Icon=system-settings
Categories=Utility;
Keywords=configuration;arm;pi;raspberry
