[Unit]
Description=x11vnc service
[Service]
Type=simple
TimeoutStartSec=0
ExecStart=
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target

